.jumbotron img {
  float: left;
  width: 132px;
  margin-left: 10%;
}

pre {
  margin-top: 5px;
  padding: 10px;
  background-color: rgb(245,245,245);
}

.text-muted {
  color: grey;
  font-size: 150%;
  margin-top: 10px;
}

main {
  margin-left: 10%;
  margin-right: 10%;
}
.icon {
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
  background-color: rgb(75, 221, 32);
  width: 10px;
  height: 10px;
  border-radius: 24px;
}

.icon:hover {
  background-color: rgb(69, 205, 29);
}

.btn {
  margin-bottom: 50px;
  display: inline-block;
}

@media (max-width: 768px) {
  .jumbotron img {
    display: none;
  }

  .jumbotron p {
    display: none;
  }

  .jumbotron h1 {
    text-align: center;
    font-size: 300%;
  }
}
